<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
			<title> OUR ONLINE BLOG - Login </title>
			<link rel="" type="" href="">
			<link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div class="head">
		
            <div class="title">
				<h1>Login</h1>
			</div>
		
      <div class ="navbar">
        <nav>
          <ul class="bar">
            <li><a href="/homepage">Home</a></li>
            <li><a href="/makepost">Make Post</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/myprofile">My Profile</a></li>
            <li><a href="/login"> Log In</a></li>
            <li><a href="/createaccount"> Register</a></li>
          </ul>
        </nav>
      </div>
    </div>
           
            </div>
         <!--  <form action="/homepage.html" method="post">-->
            <div class ="login-form">
                <h1 class="mt-4">Welcome to our Blog</h1>
              
                <div class="container">
                    <h2 class="mt-4">Please input your login details below:</h2><br>
                  <label for="ecode"><b>Email</b></label>
                  <input type="text" placeholder="Enter Email" name="email" required>
                    <br>
                    <label for="pword"><b>Password</b></label>
                    <input type ="text" placeholder="Enter Password" name="password" required>                               
                  <button class="btn btn-primary" button type="submit" onclick="document.location='homepage.html'"> Login</button>
                </div>
            </div>

            <br><br><br><br><br><br>
             <!-- </form>-->

        </body>
        </html>
    
	