/*Used to eliminate white border on page*/
body {
	margin: 0;
	padding: 0;
}



/*Used to prevent the white bar above header*/
h1{
	margin-top: 0px;
	margin-bottom: 0px;
}



/*Code for the header*/
.header{
	background-color: #F7DBD7;
}



/*Code for page title in header*/
.title{
	padding-top: 3%;
	padding-bottom: 3%;
	text-align: center;
	font-family: Arial;
}



/*Code for the Nav Bar*/
.navbar{
	font-family: Arial;
	width: 100%;
}

.navbar a{
	background-color: #F7DBD7;
	float: left;
	color: black;
	text-decoration: none;
	width: 16.666666%;
	text-align: center;
	font-weight: bolder;
	padding-top: 1%;
	padding-bottom: 1%;
	outline: 2px solid #5b5a57;
}

.navbar a:hover {
	color: #eae7dc;
	background-color: #5b5a57;
}

.navbar a.active {
  background-color: black;
  color: white;
}



/*Used for the title of the page*/
.pageTitle{
	font-family: Arial;
	padding-top: 6%;
	padding-bottom: 3%;
	text-align: center;
	
}



/*Used to format the blogs in the home page*/
.blogList{
	border-radius: 5px;
	border-style: solid;
	border-color: black;

	height: 200px;
	width: 50%;
	
	margin-bottom: 2%;
	margin-left: auto;
	margin-right: auto;

	padding: 10px;
	
	font-family: Arial;
	
	background-color: #F7DBD7;
}

.blogTitle{
	float: left;
	width: 70%;
	font-weight: bolder;

}
.blogIDs{
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
	width: 15%;
	font-weight: bolder;
	color: #5b5a57;

}
.blogContent{
	width: 100%;
	text-align: left;
	margin-bottom: 0px;
	margin-top: 7%;

}



/*Used to format the make a form*/
.post
{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 6%;
	font-family: arial;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #5b5a57;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #F7DBD7;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 5%;
}

input[type=submit]:hover {
  background-color: #5b5a57;
  color: #eae7dc;
}
