.html
{
	margin:0;
	padding:0;
}

body 
{
	margin: 0;
	padding: 0;
}

.title
{
	display: inline-block;
	padding-left: 100px;
	text-align: center;

}
.login-form {
	border: 3px solid #f1f1f1;
  }

.bar li 
{ 
	display: inline-block;
	float: left;
	margin: 15px 15px;
	text-align: center;
	align-items: center;

}

.bar li a
{
	color: black;
	text-decoration:none;
	background: white;
	outline: 2px solid #5b5a57;
	padding: 10px 25px 10px 25px; 
}

.bar li a:hover
{
	color: #eae7dc;
	background-color: #5b5a57;
} 


.head
{
	background-color: #F7DBD7;
	min-height: 150px;
	padding-bottom: 30px;
}

.timeline
{
	padding: 10px 50px;
}

.post
{
	padding:5px;
	border-radius: 5px;
}
	

input
{
  padding: 8px;
  margin-top: 5px; 
  margin-bottom: 10px;
  border-radius: 3px; 
}

.btitle
{
	border-radius: 5px;
	float: left;
}

.content
{
	padding: 5px;
	float: left;
}

.heading
{
	float: right;
	padding-right: 10px;
}

.blogpost{
	border-radius: 5px;
	border-style: solid;
	border-color: black;
	height: 40%;
	width: 20%;
	margin: 10px;
	padding-left: 50px;
	padding-bottom: 100px;
}

