<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
			<title> OUR ONLINE BLOG - Login </title>
			<link rel="" type="" href="">
			<link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div class="head">
		
            <div class="title">
				<h1>Login</h1>
			</div>
		
      <div class ="navbar">
        <nav>
          <ul class="bar">
            <li><a href="/homepage">Home</a></li>
            <li><a href="/makepost">Make Post</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/myprofile">My Profile</a></li>
            <li><a href="/login"> Log In</a></li>
            <li><a href="/createaccount"> Register</a></li>
          </ul>
        </nav>
      </div>
    </div>
           
            </div>
         <!--  <form action="/homepage.html" method="post">-->
          <div class ="login-form">
            <h1 class="mt-4">Welcome to our Blog</h1>
            
            <form name="loginForm" action="/" onsubmit="return validateForm()"> <!-- SQL page link here?-->
        
              <label for="email">Email:</label><br>
              <input type="text" id="email" name="email"><br><br>
              
              <label for="password">Password:</label><br>
              <input type="text" id="password" name="password"><br><br>
              <input type="submit" value="Login">
            </form> 

            <br><br><br><br><br><br>
             <!-- </form>-->

        </body>
        </html>
    
	