<!DOCTYPE html>
<html lang="en">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
	<script src="https://www.google.com/recaptcha/api.js?render=6LeCKfsfAAAAAAvvZoyqwwUlmqEN_qEYBLSzooYH"></script>
	<script>
	function getResult(text) {
		var obj = text.substring(19, text.length - 1);
		var json = JSON.parse(obj);
		document.querySelector('#result1').innerHTML = "Recaptcha v3 score of:";
		document.querySelector('#result2').innerHTML = json.score;

        return json.score;
    }
	function validateCaptcha(){
		grecaptcha.ready(function() {
			grecaptcha.execute('6LeCKfsfAAAAAAvvZoyqwwUlmqEN_qEYBLSzooYH', {action: 'login'})
            .then(function(token) {
				var data = {
					token: token
				};

				fetch('/validate', {
					headers: {
						'Accept': 'application/json',
						'Content-Type': 'application/json'
					},
					method: 'post',
					body: JSON.stringify(data)
				})
					.then(response => response.text())
					.then(text => getResult(text))
					.catch(error => getResult(error));
			});
		});
		if (getResult < 0.3) {
			document.querySelector('#result3').innerHTML = "Captcha Invalid, login prohibited";
			return false
		} else {
			document.querySelector('#result3').innerHTML = "Captcha Valid, logging in";
			return true;
		}
	}
	</script>


	<head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
		<title> OUR ONLINE BLOG - Login </title>
		<link rel="" type="" href="">
		<link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div class="header">
		
            <div class="title">
				<h1>Login</h1>
			</div>
		
			<div class="navbar">
				<a href="/homepage">Home</a>
				<a href="/makepost">Make Post</a>
				<a href="/settings">Settings</a>
				<a href="/myprofile">My Profile</a>
				<a class = "active" href="/login"> Log In</a>
				<a href="/createaccount"> Register</a>
			</div>
		</div>
           
		<div class ="post"> 
			<form name="loginForm" action="/login" method="POST" onsubmit="return validateCaptcha()">

				<h4>(*) Required Fields</h4>
				
				<label for="email">Email: *</label>
				<input type="text" id="email" name="email" required>
				<label for="password">Password: *</label><br>
				<input type="password" id="password" name="password" required>
				<input type="submit" value="Login" id="loginButton">
			</form> 
			<div>
				<small>This site is protected by reCAPTCHA and the Google 
				<a href="https://policies.google.com/privacy">Privacy Policy</a> and
				<a href="https://policies.google.com/terms">Terms of Service</a> apply.
				</small>
			</div>
			<div id="result1" ></div>
			<div id="result2" ></div>
			<div id="result3" ></div>
		</div>
	</body>
</html>
    
	