<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
		<title> OUR ONLINE BLOG - Make Post </title>
		<script src="app.js"></script>
		<link rel="stylesheet" href="style.css">
	</head>
	
	<body>
		<div class="header">
		
			<div class="title">
				<h1>Create  A Post</h1>
			</div>
			
			<div class="navbar">
				<a href="/homepage">Home</a>
				<a class = "active" href="/makepost">Make Post</a>
				<a href="/myprofile">My Profile</a>
				<a href="/login"> Log In</a>
				<a href="/createaccount"> Register</a>
			</div>
		</div>

		
		<div class ="post">
			<form action = "/homepage" method="POST">
				<h4>(*) Required Fields</h4>
				
				<label for="title">Blog Title *</label>
				<input name="title" type="text" required>
				
				<label for="content">Blog Content *</label>
				<textarea name="content" rows = "5" cols = "40" placeholder='Type here...' required></textarea>
				
				<label for="userid">User ID *</label>
				<input name="userid" type="text" required>
				
				<input type="submit" class="form-control submit" value="Make Post">
			</form>
		</div>	
	</body>
</html>