<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
		<title> OUR ONLINE BLOG - Profile Page</title>
		<link rel="" type="" href="">
		<link rel="stylesheet" href="style.css">
	</head>
	
	<body>
		<div class="header">
		
			<div class="title">
				<h1>My Profile</h1>
			</div>

			<div class="navbar">
				<a href="/homepage">Home</a>
				<a href="/makepost">Make Post</a>
				<a class = "active" href="/myprofile">My Profile</a>
				<a href="/login"> Log In</a>
				<a href="/createaccount"> Register</a>
			</div>
		</div>

		<div class = "pageTitle">
			<h1>My Blogs</h1>
		</div>

		<% blog.forEach(blog => { %>
			<div class = 'blogList'>
				<h1 class = 'blogTitle'><%= blog.title %></h1>
				<p class = 'blogIDs'>User ID: <%= blog.UserID %> 
				<p class = 'blogIDs'>Post ID: <%= blog.PostID %>
				<p class = 'blogContent'><%= blog.content %></p>
			</div>
			<% }) %>
	</body>
</html>